*{
    margin: 0%;
    padding: 0%;
}

#pagina{
    width: 100%;
    height: 100%;
    background-color: darkgray;
    
}


header{
    width: 100%;
    height: 50px;
    background-color: rgb(152, 123, 93) ;
}

#logo{
    width: 50px;
    height: 50px;
    margin: 0px 20px;
    background-color: rgb(227, 19, 19) ;
    border-radius: 40px;
    overflow: hidden;
    float: left;
}

#logo img{
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    height: 40px;
    background-color: wheat ;
    float: left;
    line-height: 40px;
    

}

nav a{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
   text-decoration: none;    
   color: brown;

}

main{
    
    width: 80%;
    height: auto;
    padding: 30px;
    background-color: aliceblue;
     /*aqui foi para o meio  */
    border-radius: 10px;
     margin: 70px auto;
}

#banner{
    width: 85%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;

}

#banner img{
        text-align: center;
    width: 85%;
    height: 450px;
    border-radius: 20px;
   
}

h3{
    padding: 5px;
    text-align: left;
}


h2{
    text-align: center;
    margin: 20px;
}




h1{
    padding: 20px;
    text-align: center;
}

footer{
    width: 100%;
    height: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(238, 36, 36);
    text-align: center;
    background-color: rgb(0, 0, 0); 
    
   
    
}